body {
  background-color: black;
  overflow: hidden;
}

.btn {
  cursor: pointer;
}

h1 {
  color: whitesmoke;
  transition: color 0.5s ease-in-out;
}
.cliked {
  color: tomato;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  color: whitesmoke;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  animation: fadeIn 0.8s linear;
}

.js-toDoList {
  color: whitesmoke;
}

.box {
  margin-left: 18%;
  margin-top: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  width: 600px;
  padding: 50px;
  padding-bottom: 80px;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}

.js-weather {
  position: fixed;
  right: 15px;
  top: 5px;
  color: white;
}
h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  width: 180px;
  height: 30px;
  border: none;
  border-bottom: 1px solid rgb(196, 153, 153);
  color: rgb(196, 153, 153);
  background: none;
}
.greetings {
  font-size: 20px;
}

ul {
  list-style: none;
}
li {
  margin-bottom: 5px;
  padding: 3px;
}
button {
  background: none;
  border: none;
}
span {
  font-size: 20px;
}
